<div class="container">

  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
    <a class="navbar-brand"> swimouts </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mr-auto">

        <li class="nav-item active">
          <a class="nav-link" routerLink="/profile" *ngIf="isSignedIn">User Profile <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" *ngIf="!isSignedIn" routerLink="/auth/login">Log in</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/auth/register">Register</a>
        </li>

      </ul>

      <div class="d-flex">
        <div class="ml-auto p-2">
          <button class="btn btn-outline-success" (click)="signOut()" *ngIf="isSignedIn">Log out</button>
        </div>
      </div>

    </div>

  </nav>


</div>

<router-outlet></router-outlet>